input[type="radio"] {
    display: none;
}

body{
    font-family: Noto Sans;

}

#logo{
    height: 50px;
    position: absolute;
    transform: translateY(20px);
}


#title{
  text-align: right;
  right: 140px;
  top: 150px;
  font-family: 'Poppins';
  position: absolute;
}

#paragraph{
  position: absolute;
  right: 20px;
  top: 200px;
  width: 600px;
  text-align: center;
}

.container{
position: absolute;
bottom: 100px;
right: 300px;
display: flex;
flex-direction: row;
align-items: center;
column-gap: 10px;
    
}

#price{
    font-size: 40px;
    font-family: Noto Sans;
}

#cart{
    background-color: rgb(0, 187, 0);
    font-size: 20px;
    color: white;
    text-align: center;
    border: 0;
    border-radius: 10px;
}

#quantity{
    position: absolute;
    margin-bottom: 55px;
    left: 80px;
    
}

.fa-solid.fa-cart-shopping{
    color: rgb(202, 202, 202);
}

#cart:hover{
    background-color: rgb(0, 255, 0);
}

.color-options{
    margin: 20px 0;
    position: absolute;
    top: 100px;
    right: 550px;
    
}

.color-selector{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
    position: absolute;
    top: 385px;
    right: 320px;
}

.color-circle:hover{
    transform: scale(1.1);
}
.color-circle{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #000;
    cursor: pointer;
    margin: 5px;
    transition: transform 0.2s;
}

.black{background-color: black;}
.red{background-color: red;}
.green{background-color: green;}

.controller-image{
height: 400px;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
margin-top: 20px;
aspect-ratio: 3/2;
z-index: 1;
transform: translate(-220px, 100px);
background-image: url(Xbox\ Controller.png);

}

.controller-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#red:checked ~ .controller-image{
    background-image: url(Xbox\ controller\ red.png);
}

#green:checked ~ .controller-image{
    background-image: url("Xbox\ controller\ green.png");
}

#black:checked ~ .controller-image{
    background-image: url(Xbox\ Controller.png);
}

#menu{
    width: 120px;
    background-color: rgba(138, 138, 138, 0.171);
    height: 30px;
    position: absolute;
    right: 0px;
    align-items: center;
    top: 0;
}

.fa-solid.fa-user{
    position: fixed;
    right: 0;
    padding-right: 5px;
    font-size: 30px;
    color: black;
    animation-name: slideleft;
    animation-duration: 2s;

}

@keyframes slideleft{
    from{transform:translateX(100%)}
}
.fa-solid.fa-user:hover{
    color: rgb(0, 0, 73);
    font-size: 32px;
}

.fa-solid.fa-cart-shopping.fa-flip-horizontal{
    font-size: 30px;
    position: fixed;
    transform: translateX(-40px);
    right: 0;
    color: black;
        animation-name:slideleft ;
    animation-duration: 2s;
}

.fa-solid.fa-cart-shopping.fa-flip-horizontal:hover{
    font-size: 32px;
    color: rgb(0, 0, 73);
}

.fa-brands.fa-xbox{
    font-size: 30px;
    position: fixed;
    transform: translateX(-80px);
    right: 0;
    color: #256f34;
    animation-name:slideleft ;
    animation-duration: 2s;
}

.fa-brands.fa-xbox:hover{
    font-size: 32px;
    color: rgb(16, 190, 0);

}

.dropdown{
    position: absolute;
    top: 10px;
}

.dropdown button{
    background-color: green;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
   position: absolute;
    width: 110px;
   
}


.dropdown a{
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown .content{
    display: none;
    position: absolute;
    background-color: green;
    min-width: 100px;
    box-shadow: 2px 2px 5px black;
}

.dropdown:hover .content{
    display: block;
}
.dropdown{
    transform: translate(50px, 70px);
}


input[type="number"]{
    appearance: auto
    -webkit-appearance:auto
    -moz-appearance:auto
    padding: 5px;
    font-size:16px;
    width: 100px;}

#quantity{
    position: absolute;
    right: 570px;
    bottom: 80px;
    background-color: #bfffcc;
    color: rgb(0, 0, 0);
    transform: translate(290px, 40px);
}


.section1{
  position: absolute;
  background-color: #f0f0f0;
    width: 100%;
  padding: 40px;
  height: 100vh;
}

body, html {
  overflow-y: auto;
}

#sectiontitle{
    position: absolute;
    transform: translateX(110vh);
}

#xboxcontroller2{
    height: 300px;
    border-radius: 20px;
}

#paragraph2{
    transform: translateY(50px);
    float: right;
    margin-right: 110px;
    font-size: 22px;
    width: 600px;
}

#second{
    padding-top: 100px;
}



